@import "tailwindcss";

@theme {
  /* Primary - Purple */
  --color-primary-900: #5347a1;
  --color-primary-800: #6657c6;
  --color-primary-700: #7664e4;
  --color-primary-600: #8470ff;
  --color-primary-500: #a498ff;
  --color-primary-400: #bfb7ff;
  --color-primary-300: #d6d2ff;
  --color-primary-200: #eceaff;
  --color-primary-100: #f5f4ff;

  /* Neutral - Gray */
  --color-neutral-900: #111113;
  --color-neutral-800: #222226;
  --color-neutral-700: #343438;
  --color-neutral-600: #45454b;
  --color-neutral-500: #56565e;
  --color-neutral-400: #82828c;
  --color-neutral-300: #a1a1a9;
  --color-neutral-200: #d0d0d4;
  --color-neutral-100: #efeff1;

  /* Warning - Orange */
  --color-warning-500: #f9970c;
  --color-warning-200: #fef4e1;

  /* Success - Green */
  --color-success-800: #297b32;
  --color-success-200: #e5fae6;

  /* Danger - Red */
  --color-danger-500: #e83b38;
  --color-danger-200: #ffeaeb;
}

/* ---- Reset ---- */
body {
  margin: 0;
  color: white;
}

#root {
  min-height: 100vh;
  width: 100%;
}
